<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:each="student : ${students}">
        <h2 th:inline="text">Name: [[${student.firstname}]] [[${student.lastname}]]</h2>

        <ul>
            <th:block th:each="course : ${student.courses}">

                <li th:inline="text"><b>Course Name: [[${course.title}]]</b> </li>
                <li th:inline="text"><b>Course Instructor: [[${course.instructor}]]</b> </li>
                <li th:inline="text"><b>Course Description: [[${course.description}]]</b> </li>
                <li th:inline="text"><b>Course Credits: [[${course.credit}]]</b> </li>

            </th:block>
        </ul>
    </div>
</body>
</html>

